<div class="container">		
			<ul id="sg-panel-container">
			
				<li data-w="40" data-h="100">
					<%= image_tag("banner2.png", :title => "Surfeit")%>
					<!-- <img title="Surfeit" src="images/banner2.png" data-rotate-x="50" /> -->
					<div data-rotate-x="-50">
						<div class="sg-content">
							<h3>Currently Under Construction</h3>
							<p>Surfeit is your own personal internet curator that takes everything relavent to you on the web, and dishes it out on a silver platter. Welcome to <em>your</em> internet. Surfeit is an idea that is currently being carefully crafted in the heart of Chicago. The team consists of 3 students currently attending <a href="http://thestarterleague.com" style="color:red">The Starter League</a>. Surfeit should be up and running soon! <br><br> If you want to know when we're fully operational, we'll let you know: </p> <form> EMAIL:<input type="text"> <input type="submit"></form>
						</div>
					</div>
				</li>

				<li data-w="60" data-h="55">
				<div class="iconsbro" style="position:relative;" data-rotate-y="50">
					<img title="" src="images/banner2.png">
					<img title="" src="images/facebook500.png" class="socialIconFB">
					<img title="" src="images/twitter.png" class="socialIconFB">
					<img title="" src="images/instagram500.png" class="socialIconFB">
					<img title="" src="images/googleplus.png" class="socialIconFB">
					<img title="" src="images/rss.png" class="socialIconFB">
					<img title="" src="images/pinterest.png" class="socialIconFB">
					<img title="" src="images/reddit.png" class="socialIconFB">
					<img title="" src="images/youtube.png" class="socialIconFB">
					
				</div>
						<div data-translate-z="-500" >
						<div class="sg-content">
							<h3 style="font-size:42px"><em><b>Your</b></em> Web All In One Place</h3>
							<p style="font-size:17px">When you sign up for Surfeit, all of your social networks and rss feeds will be displayed in one large dynamic collection. Twitter, Facebook, Instagram, Pinterest, Youtube, Google+ and all feeds will all be shown on the Current. The Current is an ever flowing river of information from all your networks. To make finding information easy the Current is able to be live filtered. This way you can filter the current to show only what you want to see.</p>
						</div>
					</div>
					<div data-translate-z="-500" >
						<div class="sg-content">
							<h3 style="font-size:42px">don't browse the web, <b>Surfeit</b>!</h3>
							<p style="font-size:24px">Every day people log on to the internet, and usually, people attend the same sites they always do. Everyone has their own routine, yet everyone repeats the process of opening tabs and windows to view the information they seek. We aim to change all that. Surfeit knows everything that you'd normally browse and condenses it into one easily-navigable page.</p>
						</div>
					</div>
					<img title="" src="images/laird.jpg" data-rotate-y="-50">
					
				</li>
					
			</ul>
			
		</div>
		